body{
    
    font-size: 18px;
    font-family: 500;
    font-family: 'Space Grotesk', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    
}

.parte_roxa{
    
    width: 100%;
    height: 15rem;
    left: 0px;
    top: 0px;
    background: #21092F;
}


.cardholder_conteiner{
    width: 140px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.31px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #21092F;
}

.cardholder{
    width: 327px;
    height: 45px;
    top: 24px;
}

.cardnumber_conteiner{
    width: 140px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.31px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #21092F;
}

.number{
    width: 327px;
    height: 45px;
    top: 24px; 
}

.card_Exp_date_conteiner{
    width: 140px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.31px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #21092F;
}

.expirationdate{
    width: 327px;
    height: 45px;
    top: 24px;
}

.cvc_conteiner{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.31px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #21092F;
}

.cvc_number{
    width: 327px;
    height: 45px;
    top: 24px;
    margin-top: 0rem; 
}

.botao_confirm_conteiner{
    width: 327px;
    height: 53px;
    left: 24px;
    top: 606px;
    background: #21092F;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0.5rem;
    border-style: none;
    justify-content: center;
}

p{
    margin-top: 1rem;
    
}


